language: node_js
node_js:
  - "node"
services:
  - postgresql
addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
# install:
#   -npm install    
env:
  global :
    - PGPORT=5433
    - DB_NAME=docker_test
    - DB_USER=docker_test#!.
  before_script:
    - psql --command="CREATE USER ${DB_USER};"
    - psql --command="CREATE DATABASE ${DB_NAME} WITH OWNER = ${DB_USER};" 
  before_install:
    - npm install -g standard  

scripts : {
  "test": "npm run lint",
  "lint": "standard"

}



